<!-- Select Device -->
<div class="select-device popup-view popup">
    <div class="content">
        <div>
            <div class="header">
                <button type="button" class="close" ng-click="close()">×</button>
                <h4 class="title">Select Device</h4>
            </div>
            <div class="body">
                <device-badge-viewer devices="deviceViewer.devices" events="deviceViewer.events"></device-badge-viewer>
            </div>
            <div class="footer clearfix">
                <button type="button" class="btn-back btn btn-primary" ng-click="close()">Go Back</button>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>