<template name="CalendarMappingSettings">
    {{> SettingsMenu}}
    
    <div class="settings calendar-mapping">
        <h3>Calendar Event Mapping</h3>        
        <button type="button" class="js-create-mapping btn-share btn btn-success"><i class="fa fa-plus"></i>Create new event mapping</button>
        <div class="fresh-table">
            <div class="heading">
                <h3 class="title">Event Mapping</h3>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <input type="text" value="Event Name" />
                        </th>
                        <th>
                            <input type="text" value="Time Offset" />
                        </th>
                        <th>
                            <input type="text" value="Command" />
                        </th>
                        <th>
                            <input type="text" value="Remove" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {{#each mappings}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{timeOffset}} minutes</td>
                            <td>
                                <pre>{{{value}}}</pre>
                            </td>
                            <td>
                                <a class="js-remove-mapping remove-mapping" href="#">Remove</a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>