<template name="ControlUnitSettings">
    {{> SettingsMenu}}

    <div class="settings control-unit">
        <h3>Control Units</h3>
        
        <div class="badge-viewer">
        
            <!-- Filters -->
            <div class="filters"> 
                <div class="filter filter-user form-control">
                    <span>Owner</span>
                    <select>
                        <option value="">Select All</option>
                        <option value="{{myUserId}}">Me</option>
                        {{#each friends}}
                            <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
                
            {{#each controlUnits}}
                <div class="custom-badge device control-unit {{connected}}">
                    <div class="name-badge">
                        <span>{{name}}</span>
                        <div class="controls">
                            <div class="info js-info"></div>
                            <div class="remove js-remove"></div>
                        </div>
                    </div>
                    <div class="image-holder">
                        <div class="image fa"></div>
                    </div>
                </div>
            {{/each}}
            
            <div class="js-create circle">
                <div class="latitude-cross"></div>
                <div class="longitude-cross"></div>
            </div>
        </div>
    </div>
</template>