<template name="DeviceLocationSettings">  
    {{> SettingsMenu}}
    
    <div class="settings device-location">
        <h3>Device Locations</h3>
        
        <div id="map" class="map-container">
            {{> googleMap name="map" options=mapOptions}}
        </div>
        
        <div class="locations">
            <h4>Locations</h4>
            <input type="button" value="Add location" class="btn btn-primary add-location js-add-location" />
            <select class="js-selected-location">
                {{#each locations}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
            <input type="button" value="View location" class="js-view-location btn btn-primary" />
            <input type="button" value="Remove location" class="js-remove-location btn btn-danger" />
        </div>
        
        <!-- Badge Viewer -->
        <h4>Devices</h4>

        <div class="badge-viewer">
        
            <!-- Filters -->
            <div class="filters"> 
                <div class="filter form-control user">
                    <span>Owner</span>
                    <select>
                        <option value="">Select All</option>
                        <option value="{{myUserId}}">Me</option>
                        {{#each users}}
                            <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="filter form-control control-unit">
                    <span>Control Unit</span>
                    <select>
                        <option value="">Select All</option>
                        {{#each controlUnits}}
                            <option value="{{controlUnitId}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        
            <!-- Device Badges -->
            {{#each devices}}
                <div class="custom-badge device js-view-device-location">
                    <div class="name-badge">
                        <span>
                            <span>{{name}}</span>
                            <span>{{type}}</span>
                        </span>
                        <div class="controls">
                            <div class="info js-info"></div>
                        </div>
                    </div>
                    <div class="image-holder">
                        <div class="image fa ionicons image-{{type}}"></div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>  