<template name="DeviceAccessSettings">
    {{> SettingsMenu}}

    <div class="settings device-access">
        <h3>Device Access</h3>

        <div class="badge-viewer">
            <div class="header">Friends</div>

            {{#each friends}}
                <div class="custom-badge user {{unconfirmedFriend}} {{friendRequestPending}} {{isUserSelected}}" data-user-id="{{_id}}" >
                    <div class="name-badge">
                        <span>{{firstName}} {{lastName}}</span>
                        <div class="controls">
                            {{#if isFriend}}
                                <div class="remove js-remove-friend"></div>
                            {{/if}}

                            {{#if isUnconfirmedFriend}}
                                <div class="remove js-remove-unconfirmed-friend"></div>
                            {{/if}}

                            {{#if isFriendRequestPending}}
                                <div class="confirm js-accept-friend-request"></div>
                                <div class="remove js-decline-friend-request"></div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="image-holder">
                        <div class="image fa fa-user"></div>
                    </div>
                </div>
            {{/each}}

            <div class="add-friend js-add-friend circle">
                <div class="latitude-cross"></div>
                <div class="longitude-cross"></div>
            </div>
        </div>

        <div class="badge-viewer">
            <div class="header">Device access given to {{accessGivenTo}}</div>

            {{#if myDevices}}
                {{#each myDevices}}
                    <div class="custom-badge device {{hasAccess}}">
                        <div class="name-badge">
                            <span>
                                <span>{{name}}</span>
                                <span>{{type}}</span>
                            </span>
                            <div class="controls">
                                <div class="info js-info"></div>
                            </div>
                        </div>
                        <div class="image-holder">
                            <div class="image fa ionicons image-{{type}}"></div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div>You don't own any devices yet.</div>
            {{/if}}
        </div>

        <div class="badge-viewer">
            <div class="header">Device access received from {{accessReceivedFrom}}</div>

            {{#if receivedDevices}}
                {{#each receivedDevices}}
                    <div class="custom-badge device {{hasAccess}}">
                        <div class="name-badge">
                            <span>
                                <span>{{name}}</span>
                                <span>{{type}}</span>
                            </span>
                            <div class="controls">
                                <div class="info js-info"></div>
                            </div>
                        </div>
                        <div class="image-holder">
                            <div class="image fa ionicons image-{{type}}"></div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div>You haven't received access to any devices.</div>
            {{/if}}
        </div>
    </div>
</template>