<template name="SendCommandSettings">
    {{> SettingsMenu}}
    
    <div class="settings send-command">
        <h3>Send Command</h3>
        
        <form id="set-property">
            <h4>Set Property</h4>
            <label>Filter</label>
<!-- This looks weird, but it is needed to make the text indent in the textarea correct, otherwise it will be lots of spaces before the actual text. -->
<textarea  name="filter" type="text" rows="10">{
    "propertyName": ""
}
</textarea>
        
            <label>Property Value</label>
            <input name="propertyValue" type="text" class="js-property-value" />
            <select name="dataType">
                <option value="string">String</option>
                <option value="integer">Integer</option>
                <option value="double">Double</option>
                <option value="boolean">Boolean</option>
            </select>
            <button class="btn js-set-property">Set Property Value</button>
        </form>
    </div>
</template>