<!-- Select Components -->
<div class="select-component popup-view popup">
    <div class="content">
        <div>
            <div class="header">
                <button type="button" class="close" ng-click="close(components)">×</button>
                <h4 class="title">Select Component</h4>
            </div>
            <div class="body">
                <component-badge-viewer components="componentViewer.components" events="componentViewer.events"></component-badge-viewer>
            </div>
            <div class="footer clearfix">
                <button type="button" class="btn-back btn btn-primary" ng-click="close(components)">Go Back</button>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>
