.side-bar-navigation {
    width: 366px;
    height: 100%;
    background-color: #3d3d3d;
    border-right: 1px solid #3a3a3a;
    float: left;
    padding-top: 30px;
    padding-left: 50px;
    box-sizing: border-box;
}

.side-bar-navigation > header .bar {
    background-color: #0df6cd;
    width: 120px;
    height: 4px;
    border: 1px solid #2b907d;
    border-radius: 2px;
}

.side-bar-navigation > header h2 {
    margin: 0px;
    font-size: 12px;
    color: white;
    margin-top: 7px;
}

.side-bar-navigation ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color: #fdfdfd;
}

.side-bar-navigation ul li {
    margin-bottom: 40px;
    cursor: pointer;
}

.side-bar-navigation ul li a,
.side-bar-navigation ul li a:-webkit-any-link,
.side-bar-navigation ul li a:visited,
.side-bar-navigation ul li a:hover,
.side-bar-navigation ul li a:active  {
    text-decoration: none;
}

.side-bar-navigation ul li a {
    height: 100%;
    width: 100%;
    display: block;
}

.side-bar-navigation ul li h3 {
    margin-bottom: 5px;
    color: #FDFDFD;
}

.side-bar-navigation ul li.active h3 {
    color: #12f0c9;
}

.side-bar-navigation ul li span {
    font-size: 14px;
    color: #FDFDFD;
}

.side-bar-navigation ul li span span {
    color: #808080;
}

.side-bar-navigation ul li .arrow {
    display: none;
    float: right;
    position: relative;
    margin-top: -15px;
    margin-right: 55px;
    font-size: larger;
    color: #12f0c9;
}

.side-bar-navigation ul li.active .arrow {
    display: block;
}

.side-bar-navigation .scroll-box-wrapper {
    height: calc(100% - 27px);
    position: relative;
    margin-top: 20px;
}

.side-bar-navigation .scroll-box {
    padding-top: 25px;
    overflow: auto;
    height: calc(100% - 50px);
    margin-right: 5px;
}

/*  Scrollbars  */

.side-bar-navigation ::-webkit-scrollbar {
    width: 5px;
}

.side-bar-navigation ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(71, 78, 77, 1);
    border-radius: 10px;
}

.side-bar-navigation ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*  Fade out items at the top and bottom when scrolling     */

.side-bar-navigation .scroll-box-overlay {
    overflow: auto;
    height: 100%;
    pointer-events: none;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255,255,255,0)),
    linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

    /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
    radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background: /* Shadow covers #3d3d3d */ linear-gradient(#3d3d3d 2%, rgba(255,255,255,0)), linear-gradient(rgba(255,255,255,0), #3d3d3d 99%) 0 100%, /* Shadows */ radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)), radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 65px, 100% 45px, 100% 51px, 100% 59px;
    background-attachment: local, local, scroll, scroll;
    content: '';
    width: calc(100% - 20px);   /* Remove 20px for the vertical scroll bar */
    position: absolute;
    z-index: 10;
}