.main-device-layout {
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: #474e4d;
}

.main-device-layout .content-wrapper {
	height: 100%;
	margin-right: 5px;
	overflow-y: auto;
	padding-top: 25px;
	padding-left: 32px;
	color: #eeeeee;
	padding-right: 30px;
	box-sizing: border-box;
}

.main-device-layout .content-wrapper > header {
	margin-bottom: 50px;
}

.main-device-layout .content-wrapper > header span:last-child {
	float: right;
}