.switch {
	cursor: pointer;
}

.switch.active {
	color: #03f0c4 !important;
}

.switch.active:after {
	content: 'ON';
}

.switch:not(.active) {
	color: #FF5C5C !important;
}

.switch:not(.active):after {
	content: 'OFF';
}