<template name="Footer">
	<ul>
		<li class="category selected">
			<a href="index.html">
				<div class="icon">
					<i class="fa fa-home"></i>
				</div>
				<span>DASHBOARD</span>
			</a>
		</li>
		<li class="category">
			<a href="{{pathFor route='Lights'}}">
				<div class="icon">
					<i class="fa fa-lightbulb-o"></i>
				</div>
				<span>LIGHTS</span>
			</a>
		</li>
		<li class="category">
			<div class="icon">
				<i class="ionicons ion-settings"></i>
			</div>
			<span>SETTINGS</span>
		</li>
	</ul>
</template>