<footer>
    <ul>
        <li class="category" ui-sref-active="selected">
            <a ui-sref="dashboard">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <span>DASHBOARD</span>
            </a>
        </li>
        <li class="category" ui-sref-active="selected">
            <a ui-sref="lights">
                <div class="icon">
                    <i class="fa fa-lightbulb-o"></i>
                </div>
                <span>LIGHTS</span>
            </a>
        </li>
        <li class="category" ui-sref-active="selected">
            <a ui-sref="settings" ng-hide="true"></a>
            <a ui-sref="settings.controlUnit">
                <div class="icon">
                    <i class="ionicons ion-settings"></i>
                </div>
                <span>SETTINGS</span>
            </a>
        </li>
    </ul>
</footer>