<template name="Footer">
    <ul>
        <li class="category {{isCurrentRouteName 'home'}}">
            <a href="{{pathFor route='home'}}">
                <div class="icon">
                    <i class="fa fa-home"></i>
                </div>
                <span>DASHBOARD</span>
            </a>
        </li>
        <li class="category {{isCurrentRouteName 'lights'}}">
            <a href="{{pathFor route='lights'}}">
                <div class="icon">
                    <i class="fa fa-lightbulb-o"></i>
                </div>
                <span>LIGHTS</span>
            </a>
        </li>
        <li class="category {{isCurrentRouteName 'controlUnitSettings'}}">
            <a href="{{pathFor route='controlUnitSettings'}}">
                <div class="icon">
                    <i class="ionicons ion-settings"></i>
                </div>
                <span>SETTINGS</span>
            </a>
        </li>
    </ul>
</template>