.popup.select-device .content > div {
    width: 510px;
}

.popup.select-device .header {
    border-bottom: 0px;
}

.popup.select-device .body {
    padding: 0px;
}

.popup.select-device .footer {
    margin-top: 0px;
    border-top: 0px;
}

.popup.select-device .footer button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}