<div id="create-control-unit" class="popup">
    <div class="content">
        <div>
            <div class="header">
                <button type="button" class="close" ng-click="close()">×</button>
                <h4 class="title">Create New Control Unit</h4>
            </div>
            <div class="body">
                <form>
                    <div class="form-group">
                        <label>Control Unit Name</label>
                        <input ng-model="controlUnitName" type="text" />
                    </div>
                </form>
            </div>
            <div class="footer clearfix">
                <button type="button" class="btn-close btn btn-primary" ng-click="close()">Close</button>
                <button type="button" class="btn-add   btn btn-primary" ng-click="create(controlUnitName)">Create control unit</button>
            </div>
        </div>
    </div>
    <div class="background"></div>
</div>