#create-control-unit {
    z-index: 10;
    display: block !important;
}

/*
    FOOTER
*/

#create-control-unit .footer .btn-close {
    float: left;
}

#create-control-unit .footer .btn-add {
    float: right;
}
